# compiled output
/nest-board-app/dist
/nest-board-app/node_modules

# Logs
/nest-board-app/logs
/nest-board-app/*.log
/nest-board-app/npm-debug.log*
/nest-board-app/pnpm-debug.log*
/nest-board-app/yarn-debug.log*
/nest-board-app/yarn-error.log*
/nest-board-app/lerna-debug.log*

# OS
.DS_Store

# Tests
/nest-board-app/coverage
/nest-board-app/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json